<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Image Search - query results</title>
</head>
<body>
    <h1>Image Search - query results</h1>
    <h3>Showing results for "{{ query }}"</h3>
    <div style="width: 50%; margin: auto">
        <table>
            {% for image_url, text, score in query_results %}
                <tr>
                    <td><img src="{{ image_url }}" height="256px"></td>
                    <td><figcaption>{{ score }}, {{ text }}</figcaption></td>
                </tr>
            {% endfor %}
        </table>
    </div>
</body>
</html>